/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  place-content: center;
  text-align: center;
  color: #eeeeee;
  background-color: #100e17;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
